body {
    font-family: 'Monocraft', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2c2ce; /* Cor de fundo suave - alterada para a #f2c2ce */
    display: flex;
    flex-direction: column; /* Para garantir que a altura total da tela seja ocupada */
}

header {
    background-color: #a0c888; /* Cor de destaque no cabeçalho - alterada para a #a0c888 */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

main {
    flex: 1; /* Ocupa o espaço restante vertical entre o header e o footer */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #bdce62; /* Cor de fundo do conteúdo principal - alterada para a #bdce62 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

section {
    background-color: #a0c888; /* Cor de fundo suave para seções - alterada para a #a0c888 */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

section h2 {
    color: #53394e; /* Cor do título - alterada para a #53394e */
}

section img {
    position: absolute;
    display: flex;
    max-width: 25%; /* Ajuste o tamanho máximo conforme necessário */
    top: 50%; /* Move a imagem para o centro vertical da seção */
    right: 10px; /* Define uma distância de 10px à direita da seção */
    transform: translateY(-50%); /* Ajusta para centralizar verticalmente */
}

.mitsuri2 {
    position: absolute;
    display: flex;
    max-width: 25%; /* Ajuste o tamanho máximo conforme necessário */
    top: 50%; /* Move a imagem para o centro vertical da seção */
    left: 10px; /* Define uma distância de 10px à direita da seção */
    transform: translateY(50%); /* Ajusta para centralizar verticalmente */
}

.mitsuri3 {
    position: absolute;
    display: flex;
    max-width: 20%; /* Ajuste o tamanho máximo conforme necessário */
    top: 50%; /* Move a imagem para o centro vertical da seção */
    right: 10px; /* Define uma distância de 10px à direita da seção */
    transform: translateY(230%); /* Ajusta para centralizar verticalmente */
}

.mitsuri4 {
    position: absolute;
    display: flex;
    max-width: 20%; /* Ajuste o tamanho máximo conforme necessário */
    top: 50%; /* Move a imagem para o centro vertical da seção */
    left: 10px; /* Define uma distância de 10px à direita da seção */
    transform: translateY(400%); /* Ajusta para centralizar verticalmente */
}

.mitsuri5 {
    position: absolute;
    display: flex;
    max-width: 20%; /* Ajuste o tamanho máximo conforme necessário */
    top: 50%; /* Move a imagem para o centro vertical da seção */
    right: 10px; /* Define uma distância de 10px à direita da seção */
    transform: translateY(570%); /* Ajusta para centralizar verticalmente */
}

.mitsuri6 {
    position: absolute;
    display: flex;
    max-width: 20%; /* Ajuste o tamanho máximo conforme necessário */
    top: 50%; /* Move a imagem para o centro vertical da seção */
    left: 10px; /* Define uma distância de 10px à direita da seção */
    transform: translateY(600%); /* Ajusta para centralizar verticalmente */
}

ul.star-list {
    list-style-type: none;
    padding: 0;
}

ul.star-list li {
    padding-left: 20px;
    position: relative;
}

ul.star-list li::before {
    content: "\2605"; /* Código Unicode para uma estrela preenchida */
    color: #53394e;
    font-size: 1.5em;
    position:sticky;
    left: 0;
}

li {
    color: #040c00; /* Cor do texto das listas - alterada para a #a0c888 */
    
}

footer {
    background-color: #a0c888; /* Cor de destaque no rodapé - alterada para a #a0c888 */
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
